<%= div_for comment do %>
  <h4>
  <% if comment.user_id? %>
    <p1><%= comment.user.name %> &gt; said </p1> 
      <% else %>
      <p><%= "unknown user said" %> &gt;</p>
    <% end %>
  </h4>

  <%= comment.body %>
  
<% end %>