// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social-btn {
  background: #5998ff;
  border-style: solid;
  margin: 0;
  padding: 1px 1px 1 px 1px;
  text-align: center;
  font-size: 28px;
  border-color: red;
  height: 65px;
  width: 200px;
}